<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- tailwindcss -->
     <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <link rel="stylesheet" href="/styles/styles.css">
    <title>Document</title>
</head>
<body>
    <h1>hi </h1>
    <h2><%= 2+2 %></h2>  <!--ejs me is tarha calculations b kr sakty hain-->


    <script src="/js/script.js"></script>
    <!-- ejs ki files ya rendering wali file me files ko attach krty waqt /public nai leakhna q k wo ham ny alredy index.js me bta diya h  -->
</body>
</html>